{% extends 'base_generic.html' %}

{% block content %}
  <h2>Correo enviado</h2>
  <p>
    Acabamos de enviar un correo a la cuenta de correo especificada. En caso de que esta cuenta de correo pertenezca a algún usuario recibirá un correo en los próximos instantes. 
  </p>
  <p>
    En caso de que no haya recibido el correo verifique que el correo que acaba de introducir sea verdaderamente el correo asociado a su cuenta de LessonMaster y compruebe su carpeta de Spam.
  </p>
{% endblock %}