{% extends 'base_generic.html' %}

{% block content %}
  {% if validlink %}
  <div class = "contenedor_general">
    <h2>Página de cambio de contraseña</h2>
    <p> Por favor, introduce la nueva contraseña dos veces para confirmar que esta ha sido introducida correctamente.</p>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="boton-abajo">Cambiar contraseña</button>
    </form>
  {% else %}
    <p>
      El enlace utilizado no es válido. Normalmente es debido a que el enlace ya ha sido utilizado. Si quieres cambiar la contraseña vuelve a realizar el proceso para cambiar la contraseña.
    </p>
  </div>
    
  {% endif %}
{% endblock %}